<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RICPlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>indexer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1431D11D9AE6482EA3173B1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72FA7CEC646541CFA5E1FD2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92D67AFAFB2E408B82113CE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E1AF2774E90494B9A5F5DCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC922B611436423382B93C4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF92CE08D58C4305959992FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDAE8A1634A54148AC29C08F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEA554D5EBC044CEA694A89E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
